.header {

  display: flex;
  width: 100%;

  .logo {

    display: flex;
    height: 31px;
    align-items: center;
    margin: 16px 24px 16px 0;
    float: left;

    img {

      width: 30px;
    }
  }

  .buttons {

    display: flex;
    height: 31px;
    align-items: center;
    margin: 16px 24px 16px 0;
    float: right;
  }

  .name {

    color: antiquewhite;
  }
}
